<!DOCTYPE html>
<html>
 	<head>
 		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300' rel='stylesheet' type='text/css'>
 		<link href="static/style.css" type="text/css" rel="stylesheet" />
 		<link rel="shortcut icon" href="static/favicon.png?v=3" type="image/png">
 		<title>Longboard Bushing Picker</title>
 	</head>

 	<body>
 		<h1>Longboard Bushing Picker</h1>
 		<p> Enter your weight for a customized bushing setup! </p>
 		<form action="query">
 			Weight: <input name="weight" type="number" style="width: 50px">
 			<select name="weight_type">
 				<option value="kg">kg</option>
 				<option value="lb">lb</option>
 			</select>
 			<input class="submitbutton" type="submit" value="Submit">
 		</form>

 		{% if invalid %}
 		<h2> Invalid input. Please enter a number.</h2>
 		{% endif %}

 		{% if show_bushings %}
 		<h3>Bushings for a {{weight}} {{weight_type}} rider:</h3>
 		<div class="row">

 			{% for bushings in bushing_pairs %}

 			<span class="pair">
 				<h4>{{bushings[1]}}</h4>
 				<p> Roadside </p>
 				{% for bushing in bushings[0] %}
 				<div class="bushing" style="background-color: {{bg_colors[bushing]}}; color: {{text_colors[bushing]}};"> {{bushing}} </div>
 				{% endfor %}
 				<p> Boardside </p>
 			</span>

 			{% endfor %}
	 		
 		</div>
 		<div class="notes">
	 		<p>All bushings referred to on this website are Venom HPF barrels, easily available from all good longboard shops.</p>
	 		<h3> Notes: </h3>
	 		<p>This tool currently assumes you are using a 50 degree RKP truck. If you are using a lower degree truck, you might need harder bushings.</p>
	 		<p>Boardside and roadside refer to which side of the truck the bushing is placed on. Boardside is the side closest to your board, and roadside is the side closest to the road.</p>
 			<p> Remember to always run your front truck the same or softer than your back truck. Try running the soft option in the front, and medium in the back.</p>
 		</div>
 		{% endif %}
 		<div class="footer">
 			<br>
 			Made by <a href="http://widdersh.in">Widdershin</a>
 			<p>This website is <a href="https://github.com/Widdershin/BushingPicker">open source</a>. Get hacking!</p>
 		</div>
 	</body>
 	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-43132161-2', 'bushingpicker.com');
	  ga('send', 'pageview');

	</script>
</html>
